//COLORS
$background_beige: #FAFAFA;
$light_blue: #E8F1F5;
$blue: #005691;
$navy: #004A7C;

$background-beige: #F6F5F5;
$dark-navy: #364F6B;
$light-blue: #3FC1C9;
$pink: #FC5185;

header{
  background: $navy;
  color: $background_beige;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  height: 70px;
  line-height: 80px;
}
//
//button {
//  background: $pink;
//}
table {
  display: table;
  width: 70%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid $light-blue;
  padding-top: 20px;
}

.container-fluid{
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
///* HEADER */
th {
  background: $light-blue;
  color: $background-beige;
  border: 0.5px solid $background-beige;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.error_code {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: $pink;
}
.report_header {
  background: $light-blue;
  color: $background-beige;
  height: 100px;
  font-size: 20px;

}
.file_name{
  background: $light-blue;
  color: $background-beige;
  border: 0.5px solid $background-beige;
  font-size: 18px;
}