//COLORS
$background_beige: #FAFAFA;
$light_blue: #E8F1F5;
$blue: #005691;
$navy: #004A7C;


header{
  background: $navy;
  color: $background_beige;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  height: 70px;

}